body {
    background-color: #38405c;
    /* background: linear-gradient(to bottom right, #8860D0, #5680E9, #84CEEB, #5AB9EA, #C1C8E4, #8860D0); */
    background: linear-gradient(to bottom right, #8860D0, #5680E9,#5AB9EA, #8860D0);
    background-attachment: fixed;
    margin-bottom: -10px;
}

/* navigation menu */
nav {
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    color: #fff;
    background-color:#5AB9EA;
}

nav a {
    color: #fff;
}

nav a:hover {
    color: #fff;
    text-decoration: underline;
}
/* main container area beneath menu */

.content {
    background-color: rgba(58, 41, 89, 0.6);
    color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    display: grid;
    min-height: 300px;
    text-align: center;
}

.contact {
    background-color: rgba(58, 41, 89, 0.6);
    color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.separation {
    border-bottom: 1px solid #C1C8E4;
}



/* Portfolio styles */
#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background-color: #C1C8E4;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #eee;
} 

#portfolio a {
    text-decoration: none;
    /* color: #454545; */
    color: #000;
}