body {
    background-color: #38405c;
    /* background: linear-gradient(to bottom right, #8860D0, #5680E9, #84CEEB, #5AB9EA, #C1C8E4, #8860D0); */
    background: linear-gradient(to bottom, #231813 30%, #541d16 40%, #a63328 75%, #dd7123 98%, #231813);
    background-attachment: fixed;
    margin-bottom: -10px;
}

p {
    font-size: 18px;
}

/* navigation menu */
nav {
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    color: #fff;
    background-color: rgba(35, 24, 19, .99);
}

nav a {
    color: #fff;
}

nav a:hover {
    color: #fff;
    text-decoration: underline;
}
/* main container area beneath menu */

.content {
    background-color: rgba(19, 35, 35, 0.55);
    color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    display: grid;
    min-height: 300px;
    text-align: center;
}

.contact {
    background-color: rgba(19, 35, 35, 0.55);
    color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.separation {
    border-bottom: 1px solid #C1C8E4;
}



/* Portfolio styles */

.a-button {
    text-align: center; 
    line-height: 28px;
}

.portfolio-content {
    background-color: rgba(19, 35, 35, 0.55);
    color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    min-height: 300px;
    display: inline-grid;
    align-items: center;
    width: 100%;
}

.projectImage {
    height: 100%;
    width: 100%;
}

.projLangBtn {
    border-radius: 15px;
}


img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

   